{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-wkocuvdesk" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
          </div><br>
          <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-manage-affiliate" class="form-horizontal">

          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-module_wkocuvdesk_status">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="module_wkocuvdesk_status" id="input-module_wkocuvdesk_status" class="form-control">
                <option value="0" {% if not module_wkocuvdesk_status %}{{ 'selected' }}{% endif %}>  {{ text_disabled }} </option>
                <option value="1" {% if module_wkocuvdesk_status %}{{ 'selected' }}{% endif %}>  {{ text_enabled }} </option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-api-key"><span data-toggle="tooltip" title="{{ help_api_key }}">{{ entry_api_key }}</span></label>
            <div class="col-sm-10">
              <input type="text" name="module_wkocuvdesk_api_key" value="{{ module_wkocuvdesk_api_key }}" placeholder="{{ entry_api_key }}" id="input-api-key" class="form-control" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-api-password"><span data-toggle="tooltip" title="{{ help_api_password }}">{{ entry_api_password }}</span></label>
            <div class="col-sm-10">
              <input type="password" name="module_wkocuvdesk_api_password" value="{{ module_wkocuvdesk_api_password }}" placeholder="{{ entry_api_password }}" id="input-api-password" class="form-control" />
            </div>
          </div>
      </form>
    </div>
  </div>
</div>
{{ footer }}
